.my-table{
    height: 556px;
    max-height: 556px;
    min-height: 556px;
    overflow-y: scroll;
}

p {
    text-indent: 20px;
    line-height: 2;
    text-align: justify;
}

a:active{
    background-color:black;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}