.my-head{
    position: fixed;
}
.my-table{
    height: 556px;
    max-height: 556px;
    min-height: 556px;
    overflow-y: scroll;
}
.my-footer{
    width: 1152px;
    position:fixed;
    bottom:0;
}
.my-sidebar{
    position: fixed;
    height: 100%;
    margin: 0px;  
}

.my-content{
    margin-top: 157px;
}

a:active{
    background-color:black;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}