.my-table{
    max-height: 556px;
    height: 556px;
    overflow-y: scroll;
}

.my-footer{
    width: 1152px;
    position:fixed;
    bottom:0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}