{% include 'head.html' %}
    <div class="container">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Intive Patronage</h1>
                <h2 class="subtitle">Prezentacja wyników</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <aside class="menu">
                    {% include 'sidebar.html' %}
                </aside>
            </div>
            <div class="column is-9">
                {% block content %}
                {% endblock %}
            </div>
            <script>
                $(document).ready(function(){
                    {% block jquery %}
                    {% endblock %}
                });
            </script>
        </div>
        <div class="hero-foot">
            <div class="has-text-centered">
                    Wykonał Michał Czarnecki
            </div>
        </div>
    </div>
{% include "foot.html" %}