<script>
{% block jquery %}
    var endpoint = '/api/data/'

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            train_data = data.slice(0, 47)
            test_data = data.slice(47)
            var ctx = document.getElementById("scatterChart");
            var scatterChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    datasets: [{
                        label: 'Dane wejściowe',
                        data: train_data,
                        backgroundColor: 'rgba(255, 0, 72, 0.3)',
                    },
                    {
                        label: 'Dane wynikowe',
                        data: test_data,
                        pointRadius: 4,
                        pointBorderColor: 'rgba(15, 179, 255, 1)',
                        pointBackgroundColor: 'rgba(15, 179, 255, 0.6)',
                        borderColor: 'rgba(15, 179, 255, 0.2)',
                        showLine: true,
                        fill: false,
                    }],
                },
            });
        },
        error: function(error_data){
            console.log("Error")
            console.log(error_data)
        }
    })
{% endblock %}
</script>

<h3 class="title">Wykresy: </h3>
<canvas id="scatterChart" width="250" height="150"></canvas>


