<script>
    {% block jquery %}
    var endpoint = 'detail'

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            data = "{{ data }}".replace(/&quot;/g,"\"")
            data = JSON.parse(data)
            train_data = data.filter(function (el){
                return el.test == 0;
            });
            test_data = data.filter(function (el){
                return el.test == 1;
            })
            console.log(train_data)
            var ctx = document.getElementById("scatterChart");
            var scatterChart = new Chart(ctx, {
                type: 'scatter',
                display: true,
                data: {
                    datasets: [{
                        label: 'Dane wejściowe',
                        data: train_data,
                        backgroundColor: 'rgba(255, 0, 72, 0.3)',
                    },
                    {
                        label: 'Dane wynikowe',
                        data: test_data,
                        pointRadius: 4,
                        pointBorderColor: 'rgba(15, 179, 255, 1)',
                        pointBackgroundColor: 'rgba(15, 179, 255, 0.6)',
                        borderColor: 'rgba(15, 179, 255, 0.2)',
                        showLine: true,
                        fill: false,
                        spanGaps: true,
                    }],
                },
                error: function(error_data){
                    console.log("Error")
                    console.log(error_data)
                }
            });
        }
    })
    
{% endblock %}
</script>

<h3 class="title">Wykres </h3>
<p>
    Wykres przedstawia otrzymane dane na wykresie. Kolorem czerwonym oznaczono dane treningowe, kolorem niebieskim dane
    wyjściowe oraz linię regresji.
</p>
<canvas id="scatterChart" width="250" height="150"></canvas>
<div class="has-text-centered">
    <h4 class="subtitle">Poniżej można wybrać zakres wyświetlania wykresu</h3>
    <form action="/detail" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-primary" type="submit">Odśwież</button>
    </form>
</div>