<h3 id="data" class="title">Dane</h3>
<div class="columns">
    <div class="column is-6">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Dane wejściowe
                </p>
            </header>
            <div class="card-content">
                <div class="content my-table">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Worked Years</th>
                            <th>Salary Brutto</th>
                        </tr>
                        {% for record in train_data %}
                            <tr>
                                <td>{{ forloop.counter }}
                                <td>{{ record.workedYears }}</td>
                                <td>{{ record.salaryBrutto }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-6">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Dane wynikowe
                </p>
            </header>
            <div class="card-content">
                <div class="content my-table">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Worked Years</th>
                            <th>Salary Brutto</th>
                        </tr>
                        {% for record in test_data %}
                            <tr>
                                <td>{{ forloop.counter }}
                                <td>{{ record.workedYears }}</td>
                                <td>{{ record.salaryBrutto }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Aby obliczyć brakujące dane wybierz przycisk "Oblicz" aby zresetować wartości "Reset"</p>
<div class="has-text-centered">
    <a href="/api/calculate" class="button is-primary">Oblicz</a>
    <a href="/api/reset" class="button is-primary">Resetuj</a>
</div>