{% extends "projects/base.html" %}

{% block content %}
<div class="content">
    <h1 class="title">Aplikacja do zadania 2</h1>
    <h2 class="subtitle">Opis:</h2>
    <p>
        Aplikacja wykonuje obliczenia brakujących wartości oraz prezentuje wyniki na stronie WWW przy użyciu frameworka Django.
        Celem zadania było wykonanie aplikacji, która na podstawie danych wejściowych wykona przewidywanie zarobków dla danych,
        które nie są kompletne oraz zaprezentowanie wyników na stronie WWW z wykorzystaniem frameworka Django.
    </p>
    <p>
        Poniżej znajdują się odnośniki do pliku <strong>readme.rst</strong>, w którym dokładnie opisana jest funkcjonalność aplikacji oraz
        <strong>requirements.txt</strong>, w którym znajdują się wymagane moduły do jej poprawnego działania.
    </p>
    <div class="has-text-centered">
        <a href="/static/readme.rst" class="button is-primary">Plik readme.rst</a>
        <a href="/static/requirements.txt" class="button is-primary">Plik requirements.txt</a>
    </div>
    {% if error %}
        <div class="notification is-warning is-outlined warning">
            <p>{{ error }}. Naciśnij przycisk, aby zaimportować dane do bazy</p>
            <div class="has-text-centered">
                <form action="/update" method="POST">
                    {% csrf_token %}
                    <button href="/update" class="button is-danger is-outlined">Importuj</button>
                </form>
            </div>
        </div>
    {% endif %}
    {% if message %}
        <div class="notification is-warning is-outlined warning">
            <p>{{ message }}</p>
        </div>
    {% endif %}
</div>
{% endblock %}