<h3 class="title">Informacje</h3>
<h3 clas="subtitle">Cel podstawowy zadania: </h3>
<p>
Za pomocą języka Python napisać program który na podstawie danych wejściowych wykona przewidywanie (ang.
estimating) zarobków dla danych które nie są kompletne w zbiorze danych wejściowych.
Program powinien wykonać przewidywanie na podstawie danych które są kompletne.
Po obliczeniu prognozy prezentacja wyników za pomocą funkcji print w konsoli.
</p>
<div class="has-text-centered">
    <a href="#" class="button is-primary">Plik readme.rst</a>
    <a href="#" class="button is-primary">Plik requirements.txt</a>
</div>